<h2>Kayıt Olun</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, label: 'E-posta Adresi', autofocus: true %>
  </div>

  <div class="field">
    <% label_text = "Parola (En az #{@minimum_password_length.to_s} karakter)" %>
    <%= f.password_field :password, label: label_text, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, label: 'Parola (tekrar)', autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit 'Kayıt Ol' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
